<!DOCTYPE html>

{% load crispy_forms_tags %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <title>Entrar no e-Votação</title>
</head>
<body>
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Entrar no e-Votação</h4>

                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ value }}">

                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">Name</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>