{% extends "base/index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class='shadow md-shadow-none rounded-lg h-100 overflow-hidden'>
        <div class='h-100 overflow-y-auto p-3'>
            <div class='p-2 d-flex border-bottom mb-2'>
                <h1 class='p-1 m-3 '><i class="fas fa-vote-yea"></i></h1>
                <span class='font-weight-normal my-auto' style='font-size: 1.5rem;'>Votar</span>
            </div>
            <h5 class='p-3 mb-3'> <i class="fas fa-bars pr-3 pl-0 "></i>Selecione o candidato para realizar a confirmação de seu voto.</h5>

            <div class="container">
                {% if not registro %}
                    <div class="card-deck">
                    {% for id, candidato in eleicao.candidatos.items %}    
                        <div class="card" style="width: 18rem;">
                            <div class="embed-responsive embed-responsive-16by9">
                                <img class="card-img-top card-img-top embed-responsive-item" src="{{ MEDIA_URL }}{{ candidato.foto }}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ candidato.nome }}</h5>
                            <p class="card-text">{{ candidato.partido }} - {{ candidato.estado }} - {{ candidato.numero }}</p>
                            <button onclick="dados_candidato({{ id|safe }}, {{ candidato.turno|safe }})" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Votar</button>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <!-- Voto em branco -->
                {% else %}
                    <div class="row d-flex justify-content-center">
                        <h4>Você já votou nesta eleição</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal%}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirmar voto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5><b>Nome: </b><span id="nome_candidato"></span></h5>
            <h5><b>Título: </b><span id="titulo_candidato"></span></h5>
            <h5><b>Número: </b><span id="numero_candidato"></span></h5>
            <h5><b>Partido: </b><span id="partido_candidato"></span></h5>

            <div class="card-text text-center">
                <p class="text-success">Aperte o botão verde para confirmar este voto</p>
                <p class="text-danger">Aperte o botão vermelho para corrigir este voto</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Corrigir</button>
            <button id="btn-confirmar" assoc="" type="button" class="btn btn-primary btn-success">Confirmar</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // -> assíncrono -------------------------------------------
const dados_candidato = async (candidato_id, turno_id) => {
    event.preventDefault()
    var xhttp = new XMLHttpRequest()

    xhttp.open("POST", "/votacao/dados_candidato/", true)

    xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
    xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
    xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))

    xhttp.responseType = 'json'
    xhttp.onreadystatechange = function(data) {
        if (this.readyState == 4 && this.status == 200) {
            let json = xhttp.response
            if (json) {
                const btn_confirmar = document.querySelector('#btn-confirmar')
                const nome_partido = document.querySelector('#nome_candidato')
                const titulo_candidato = document.querySelector('#titulo_candidato')
                const numero_candidato = document.querySelector('#numero_candidato')
                const partido_candidato = document.querySelector('#partido_candidato')

                btn_confirmar.setAttribute('id', json.votacaoTurnoCandidato)
                nome_partido.textContent = json.candidato.nome
                titulo_candidato.textContent = json.candidato.titulo
                numero_candidato.textContent = json.candidato.numero
                partido_candidato.textContent = json.candidato.partido
            }
        }
    }

    let dados = {
        'turno_id': turno_id,
        'candidato_id': candidato_id
    }

    xhttp.send("dados=" + JSON.stringify(dados))
}  

function getCookie(name) {
    var cookieValue = null;

    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
}
</script>
{% endblock %}