{% extends "base/index.html" %}

{% block title %}Listar usuários{% endblock %}

{% block content %}
<div class='p-2 d-flex border-bottom mb-2'>
    <h1 class='p-1 m-3 '><i class="fas fa-user-friends"></i></h1>
    <span class='font-weight-normal my-auto' style='font-size: 1.5rem;'>Usuários</span>
</div>
<h5 class='p-3 mb-3'> <i class="fas fa-bars pr-3 pl-0"></i>Lista de usuários</h5>

{% if object_list %}
<div class="card">
    <div class="card-head">
        <strong class="card-title">Lista de usuários</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nº título de eleito </td>
                    <td>Nome</td>
                    <td>CPF</td>
                    <td>RG</td>
                    <td>Ativado</td>
                    <td>Opções</td>
                </tr>
            </thead>
            <tbody>
                {% for usuario in object_list %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.name }}</td>
                        <td>{{ usuario.CPF }}</td>
                        <td>{{ usuario.RH }}</td>
                        <td>{{ usuario.user_active }}</td>
                        <td>
                            <a href="" class="btn btn-danger">Eliminar</a>
                            <a href="" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


{% endblock %}