{% extends "base/index.html" %}

{% block title %}Listar usuários{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class='shadow md-shadow-none rounded-lg h-100 overflow-hidden'>
        <div class='h-100 overflow-y-auto p-3'>
            <div class='p-2 d-flex border-bottom mb-2'>
                <h1 class='p-1 m-3 '><i class="fas fa-user"></i></h1>
                <span class='font-weight-normal my-auto' style='font-size: 1.5rem;'>Usuários</span>
            </div>
            <h5 class='p-3 mb-3'> <i class="fas fa-user-friends pr-3 pl-0 "></i>Cadastro de usuário.</h5>

            <div class="container">
                <div class="card shadow sm-shadow-none rounded-lg">
                    <div class="card-header">
                        <!-- <i class="fas fa-bars pr-3 pl-0"></i> -->
                        Cadastro de usuário
                    </div>
                    <form method="POST">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-right">
                            <a href="{% url 'usuarios:listar_usuarios' %}" class="btn btn-danger">Cancelar</a>
                            <button class="btn btn-success" type="submit">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function formatarCampo(campoTexto) {
    if (campoTexto.value.length <= 11) {
        campoTexto.value = mascaraCpf(campoTexto.value);
    }
    // else {
    //     campoTexto.value = mascaraCnpj(campoTexto.value);
    // }
    }
    function retirarFormatacao(campoTexto) {
        campoTexto.value = campoTexto.value.replace(/(\.|\/|\-)/g,"");
    }
    function mascaraCpf(valor) {
        return valor.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g,"\$1.\$2.\$3\-\$4");
    }
    // function mascaraCnpj(valor) {
    //     return valor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g,"\$1.\$2.\$3\/\$4\-\$5");
    // }
</script>

{% endblock %}