{% extends "base/index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class='shadow md-shadow-none rounded-lg h-100 overflow-hidden'>
        <div class='h-100 overflow-y-auto p-3'>
            <div class='p-2 d-flex border-bottom mb-2'>
                <h1 class='p-1 m-3 '><i class="fas fa-home"></i></h1>
                <span class='font-weight-normal my-auto' style='font-size: 1.5rem;'>Painel de controle</span>
            </div>
            <h5 class='p-3 mb-3'> <i class="fas fa-star pr-3 pl-0 "></i>Painel de controle.</h5>

            <div class="container">
                <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Administração</div>
                        <div class="card-body">
                        <h5 class="card-title">Acesse a tela de administração</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href='/admin' class="btn btn-primary stretched-link btn-success">Abrir</a>
                        </div>
                    </div>
                    
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Lista de usuário</div>
                        <div class="card-body">
                        <h5 class="card-title">Consulte e modifique usuários</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href="{% url 'usuarios:listar_usuarios' %}" class="btn btn-primary stretched-link b-0 btn-danger">Abrir</a>
                        </div>
                    </div>
                    
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Cadastro de usuário</div>
                        <div class="card-body">
                        <h5 class="card-title">Cadastro de novos usuários</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                        <a href='{% url "usuarios:registrar_usuario" %}' class="btn btn-primary stretched-link b-0 btn-info">Abrir</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}